* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  /* font-family: "Cormorant Garamond", serif;
  background-color: var(--bg);
  color: var(--font); */
  scroll-behavior: smooth;
}

#tentang {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(image/background/about2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 7rem;
}

.informasi {
  margin: 3rem 0;
}

.row {
  display: flex;
  margin: 1.5rem;
  padding: 3rem;
  gap: 5rem;
  flex-direction: row;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  position: relative;
  max-width: 35rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  width: 60rem;
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--bg);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.row h3 {
  width: fit-content;
  padding: 0.3rem 1rem;
  margin-bottom: 0.3rem;
  background-color: #bb0a0a;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 350;
}

.row h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.row p {
  text-align: justify;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.3rem;
}

.row span {
  color: #bb0a0a;
}

.row h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 650;
  color: #0b192c;
}

.row .visi,
.row .misi {
  /* background-color: rgba(56, 75, 112, 0.3); */
  background-color: #99989869;
  border-radius: 30px;
  padding: 1rem 3rem;
}
