body {
  /* font-family: "Cormorant Garamond", serif;
  background-color: var(--bg);
  color: var(--font); */
  margin: 0;
  font-family: "saira";
  scroll-behavior: smooth;
}

.ininav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.ininav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.ininav h1 {
  color: rgb(0, 0, 0);
  margin-left: 5px;
  font-weight: 600;
  font-size: 27px;
}

/* logo */
.ininav img {
  width: 60px;
  margin-left: 40px;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* menu */
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 5%;
}

/* link */
.menu a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 0.25s;
}

.menu a:hover {
  color: #bb0a0a;
}

/* underline anim */
.menu a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #bb0a0a;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.25s;
}

.menu a:hover::after {
  transform: scaleX(1);
}

.menu a.active {
  color: #bb0a0a;
  font-weight: 600;
}

#service {
  margin-top: 75px;
  min-height: 290vh;
  background-image: url(image/background/about2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#service .gbr {
  position: relative;
  z-index: -4;
}

/* =============== FOOTER =============== */
#contact {
  position: relative;
  min-height: 25vh;
  padding-top: 90px;
  background-image: url(image/background/sdfs.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
}

#contact .kiri {
  position: relative;
  color: rgb(248, 246, 246);
  bottom: 70px;
  left: 40px;
  font-size: 13px;
}

#contact .kiri p {
  width: 360px;
}

#contact .sos {
  position: absolute;
}

#contact .sos h1 {
  position: relative;
  left: 595px;
  bottom: 260px;
  color: rgb(248, 246, 246);
  font-size: 27px;
}

#contact .sos p {
  position: relative;
  left: 545px;
  bottom: 275px;
  color: rgb(248, 246, 246);
  font-size: 13px;
}

#contact .sos a {
  position: relative;
  left: 615px;
  bottom: 265px;
  color: rgb(248, 246, 246);
  width: 50px;
}

#contact .sos a:hover {
  color: #bb0a0a;
}

#contact .tengah {
  position: absolute;
  color: #222;
  left: 1010px;
  font-size: 13px;
  border: 0px solid rgb(191, 187, 187);
  background-color: rgba(224, 220, 220, 0.942);
  width: 300px;
  height: 190px;
  top: 33px;
  padding-left: 23px;
  border-radius: 5px;
}

#contact .tengah h1 {
  position: absolute;
  bottom: 122px;
}

#contact .email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact .email a {
  position: relative;
  text-decoration: none;
  color: #222;
  top: 65px;
  left: 25px;
}

#contact .email a:hover {
  color: #bb0a0a;
}

#contact .garis {
  position: relative;
  content: "";
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.194);
  width: 100%;
  right: 0px;
  bottom: 20px;
}
#contact .icon {
  position: absolute;
  bottom: 17px;
}

#contact .icon .satu {
  width: 15px;
}

#contact .icon .dua {
  width: 15px;
}

#contact .icon .tiga {
  width: 15px;
}

#contact .kopi {
  position: relative;
  color: rgb(248, 246, 246);
  bottom: 10px;
  font-size: 12px;
  text-align: center;
}
